<%- include("partials/header") -%>
<div class="compose-body">
  <h1>Compose</h1>
<form action="/edit/<%= id %>?_method=PUT" method="POST">
  <div class="form-group">
    <label for="editTitle">Title</label>
    <input type="text" name="editTitle" class="form-control" id="editTitle" autocomplete="off" value="<%= Title %>" onkeyup="editHandler()">
    <label for="editBody">Post</label>
    <textarea name="editBody" id="editBody" class="form-control" autocomplete="off" rows="8" onkeyup="editHandler()"><%= Content %></textarea>
  </div>
    <button type="submit" name="button" class="btn btn-primary">Edit</button>
</form>
</div> 

<%- include("partials/footer") -%>