<%- include("partials/header") -%>
<h1>Home</h1>
<%- include("partials/modal") -%>
<button type="button" class="new-entry btn btn-dark" data-toggle="modal" data-target="#exampleModal">New Entry</button>

<div class="entries-container">
  <% posts.forEach(post => { %>
  <div class="blog-entry">
    <p>Posted on <%= post.date %></p>
    <h2>
      <%= post.title %>
    </h2>

    <div class="entry-footer">
      <a href="/posts/<%= post._id %>" class="post-link"><button type="button" class="btn btn-outline-primary">VIEW</button></a>
      <button type="button" class="btn btn-outline-secondary">EDIT</button>
      <button type="button" class="btn btn-outline-danger">DELETE</button>
    </div>
  </div>
  <% }) %>
</div>

<%- include("partials/footer") -%>