  
  <% if (user) { %>
    <%- include("partials/header") -%>
    <div class="new-entry-container">
      <a href="/compose" class="post-link"><button type="button" class="new-entry btn btn-dark">+ New Entry</button></a>
    </div>
    <div class="entries-container">
      <% posts.forEach(post => { %>

      <div class="blog-entry">
        Posted on <span class="post-date">
          <%= post.date %>
        </span>
        <% if(post.title.length > 37) { %>
        <h3>
          <%= post.title.substring(0, 37) + "..." %>
        </h3>
        <% } else { %>
        <h3>
          <%= post.title %>
        </h3>
        <% } %>
        <div class="entry-footer">
          <a href="/posts/<%= post._id %>" class="post-link">
            <button type="button" class="btn btn-outline-primary">VIEW</button>
          </a>

          <a href="/edit/<%= post._id %>" class="post-link">
            <button type="button" name="edit" value="<%= post.title %>" class="btn btn-outline-secondary">EDIT</button>
          </a>

          <form action="/delete?page=<%= currentPage %>" method="POST">
            <button type="submit" name="delete" value="<%= post._id %>" class="btn btn-outline-danger">DELETE</button>
          </form>
        </div>
      </div>
      <% }) %>
    </div>
    <div class="page-buttons">
      <% if(totalItems > 3){ %>
        <% if(currentPage !== 1){ %>
          <a href="/?page=<%= currentPage - 1 %>" class="newer-posts">
            <button type="submit" class="btn btn-outline-info newer-posts-button">Newer</button>
          </a>
        <% }else { %>
          <a href="/?page=<%= currentPage - 1 %>" class="newer-posts">
            <button type="submit" class="btn btn-outline-info newer-posts-button" disabled>Newer</button>
          </a>
        <% } %>
        <% if(currentPage !== lastPage){ %>
          <a href="/?page=<%= currentPage + 1 %>" class="older-posts">
            <button type="submit" class="btn btn-outline-info older-posts-button">Previous</button>
          </a>
        <% }else { %>
          <a href="/?page=<%= currentPage + 1 %>" class="older-posts">
            <button type="submit" class="btn btn-outline-info older-posts-button" disabled>Previous</button>
          </a>
        <% } %>
      <% } %>
    </div>
  <% } else { %>
    <%- include("partials/header") -%>
    <%- include("./log-in-form.ejs") -%>
  <% } %>

    

<%- include("partials/footer") -%>